.home-card {
    height: 200px;
    margin: 20px 30px;
    padding: 20px 25px;
    background: var(--light-blue);
    border-radius: 25px;
    clip-path: inset(0);
}

.home-card>h1 {
    color: var(--light-yellow);
    font-size: 16pt;
}

.home-card#link-account {
    border: 5px solid var(--dark-blue);
    background: none;
}

.home-card#link-account>h1 {
    color: var(--dark-blue);
    font-size: 16pt;
    line-height: 25px;
}

.home-card#link-account>button {
    display: block;
    background: var(--light-blue);
    border-radius: 25px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--gray);
    margin-top: 25px;
    padding: 0 20px;
    font-size: 10pt;
    line-height: 25px;
}