.home-card {
    height: 200px;
    margin: 30px 30px;
    padding: 20px 25px;
    border-radius: 25px;
    background-size: auto 100%;
    background-position: center center;
    box-shadow: 0 10px 15px #00000011;
    background-repeat: no-repeat;
}

.home-card>h1 {
    color: var(--light-yellow);
    font-size: 16pt;
}

.home-card#link-account {
    border: 5px solid var(--dark-blue);
    background-image: url("/app/img/link-account.png");
}

.home-card#link-account>h1 {
    color: var(--dark-blue);
    font-size: 16pt;
    line-height: 25px;
}

.home-card#link-account>button {
    display: block;
    background: var(--light-blue);
    border-radius: 25px;
    height: 45px;
    color: var(--dark-blue);
    outline: none;
    border-color: transparent;
    margin-top: 25px;
    padding: 0 20px;
    font-size: 10pt;
    line-height: 25px;
    box-shadow: 0px 5.5px 0px var(--dark-blue);
}