#point-count {
    margin-top: -10px;
    font-size: 30pt !important;
    top: 10px;
}

#rewards-main {
    display: flex;
    flex-flow: row wrap !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
    align-items: stretch;
}

.reward-item {
    flex-grow: 1;
    height: 200px;
    width: 140px;
    margin: 10px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 10px 15px #00000011;
    background-repeat: no-repeat;
    background-size: contain;
}

.reward-item>.reward-price {
    font-size: 14pt;
    margin: 20px;
    color: var(--dark-blue);
}

.reward-item>.reward-title {
    font-size: 10pt;
    margin: 20px;
    margin-top: 95px;
    color: var(--dark-blue);
    line-height: 18px;
}

.item-long {
    flex-grow: 2 !important;
    min-width: 90%;
}

.item-long>.reward-title {
    font-size: 12pt;
    margin: 20px;
    line-height: 20px;
}

.item-long>.reward-price {
    width: 100px;
    height: 40px;
    font-size: 12pt;
    margin: 10px;
    margin-top: 90px;
    background: var(--light-blue);
    border-radius: 25px;
    padding: 7px 20px;
}